.reservations-page {
	background-color: #2E2E2E;
	font-family: 'Jacques Francois', sans-serif;

	width: 100%;
	display: flex;
	flex-direction: row; /* Flex row for larger screens */
	gap: 59px; /* Spacing between child elements */

	align-items: center;
	margin: 0 auto; /* Center the element horizontally */
	padding-left: 94px; /* Left padding for larger screens */
}

.info-left {
	width: 43%; /* 43% of the parent container */

	display: flex;
	flex-direction: column;
	gap: 57px; /* Spacing between child elements */

	align-items: center;
	justify-content: flex-start;
}

.Reservations {
	font-size: 80px; 
	color: #ffffff; 
	text-decoration: underline; /* Underline the text */
  
	font-family: 'Jacques Francois', sans-serif; /* Assuming 'txtJacquesFrancoisRegular80' uses this font */
}


.grand-opening-box {
	font-family: 'Montaga', sans-serif; 
	height: 684px; /* Default height for non-smaller screens */
}


.grand-opening-box-info {
	display: flex;
	flex-direction: column;
	gap: 49px; /* Spacing between child elements */

	height: 100%;
	align-items: center;
	justify-content: flex-start;

	margin-top: 45px;
	margin-left: auto;
	margin-right: auto;
	width: 90%; /* 88% width of the parent container */
}


.header-info {
	display: flex;
	flex-direction: column;
  
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}

	.grand-opening {
		font-family: Inknut Antiqua;
		font-size: 40px;
		color: #ffffff;
		
		text-align: center; 
		width: 83%; /* 83% width of the parent container */
	}
  


  


.info-right {
	height: 982px;
	width: 54%; 
}
  
  
  
  
  

  

  

/* Media queries for responsiveness */
@media (min-width: 769px) {

}

@media (max-width: 800px) {
	.reservations-page {
		flex-direction: column; /* Flex column for smaller screens */
		padding-left: 5px; /* Left padding for medium screens */
	}

	.info-left {
		width: 100%; /* Full width for medium screens and below */
	}

	.grand-opening-box {
		height: 1665px; /* Height for smaller screens as per sm:h-[1665px] */
	}

	.Reservations {
		font-size: 3em; 
	}

	.grand-opening {

		width: 100%;
	}



	.info-right {
		width: 100%; /* Full width for medium screens as per md:w-full */
	}
}



/* MEDIUM */
@media (max-width: 800px) {
	.reservations-page {
		padding-left: 10px; /* Left padding for small screens */
	}

}

/* SMALL */
@media (max-width: 550px) {
	.reservations-page {
		padding-left: 10px; /* Left padding for small screens */
	}

	.grand-opening{
		font-size: 2.25rem;
		line-height: 2.5rem;
	}

}



	
 

  


  